/* Fonts */
$primary-font-family: "proxima-nova", Helvetica, Arial, sans-serif;
$primary-font-weight: 300;

$secondary-font-family: "lexia", Times, serif;
$secondary-font-weight: 300;

$semibold-font-weight: 600;
$medium-font-weight: 500;

/* Colors */
$iyp-theme-blue: #1A80D3;
$iyp-theme-blue-hover: #3399FF;
$body-copy-black: #555555;
$body-copy-gray: #666666;
$title-black: #333333;

/* Sitewide Widths */
$desktop-large-width-percentage: 80%;
$desktop-large-article-max-width: 650px;
$desktop-medium-max-width: 960px;
$desktop-large-max-width: 1280px;